* {
  margin: 0;
  padding: 0;
  background-color: rgb(77, 77, 77);
}
body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
div.grid {
  width: 600px;
  height: 600px;
  background-color: antiquewhite;
}
.cell {
  background-color: antiquewhite;
}
